:root {
  --bg-color: #011212;
  --ball-dimentions: 100px;
  --ball-color: #ff8800;
  --ball-radius: calc(var(--ball-dimentions) / 2);
}

body {
  background-color: var(--bg-color);
}

.ball {
  width: var(--ball-dimentions);
  height: var(--ball-dimentions);
  background-color: var(--ball-color);
  border-radius: var(--ball-radius);
}
